.clear:before,
.clear:after {
	content: "";
	display: table;
}

.clear:after {
	clear: both;
}

svg {
	 max-height: 100%;
}

img, svg {
	max-width: 100%;
}

a img {
	display: block;
	vertical-align: middle;
}

html, body {
	position: relative;
	width: 100%; height: 100%;
	margin: 0;
	padding: 0;
}

.page_contain {
    max-width: 100em;
    margin: 0 auto;
    padding: 0 5.5%;
}

.contain {
	padding: 0 1em;
	max-width: 80em;
	margin: 0 auto;
    
    @include fl-break(35em) {
        padding: 0 2em;
    }
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $black;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $black;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: $black;
}