// Colors

$red: #ff2d20;
$black: #090910;
$gray: #D7D7DC;
$light_gray: #f5f5fa;
$white: #FFFFFF;

$blue: #30BCED;
$purple: #8338EC;
$green: #03CEA4;
$orange: #F49D37;

$code_red: #CA473F;
$code_dark_red: #981D15;
$code_blue: #0782B1;
$code_dark_blue: #055472;