// Colors

$red: #ff2d20;
$black: #090910;
$gray: #d7d7dc;
$light_gray: #f5f5fa;
$white: #ffffff;

$blue: #30bced;
$purple: #8338ec;
$green: #03cea4;
$orange: #f49d37;

$code_red: #ca473f;
$code_dark_red: #981d15;
$code_blue: #0782b1;
$code_dark_blue: #055472;

// dark mode
$dark_primary_background: #242424;
$dark_secondary_background: #1b1b1b;
$dark_text: #e0e4e8;
$dark_text_secondary: #eeeeee;
