:not(pre) > code {
	color: theme('colors.gray.900');
	background: none;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	tab-size: 4;
	hyphens: none;
}

.docs_main :not(pre) > code {
    display: inline-flex;
    padding: 0 .125rem;
    border-radius: .125rem;
    max-width: 100%;
    overflow-x: auto;
    vertical-align: middle;
	@apply dark:bg-dark-600 dark:text-red-600;
}

pre {
    margin-top: 1rem;
    margin-bottom: 1rem;
    overflow-x: auto;
	tab-size: 4;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
    box-shadow: 0 1px 1px rgb(0 0 0 / 8%);
    @apply relative bg-dark-600 rounded-lg;
}

.code-block-wrapper .copyBtn {
    @apply absolute right-2 top-2 outline-none text-gray-200 hover:text-gray-500 opacity-25 hover:opacity-100;
}

pre .copyBtn:hover,
pre .copyBtn:focus,
pre .copyBtn:active {
    @apply text-white outline-none;
}

pre code.torchlight {
    color: white;
    display: block;
    min-width: max-content;
    padding-top: 1rem;
    padding-bottom: 1rem;
    @apply bg-dark-600 !important;
}

pre code.torchlight .line {
    padding-left: 1rem;
    padding-right: 1rem;
}

pre code.torchlight .line-number {
    @apply pr-4;
}

.tabbed-code {
    @apply my-5 bg-dark-500 rounded-md overflow-hidden;

    pre {
        margin-top: 0rem;
        margin-bottom: 0rem;
    }

    .tabbed-code-nav {
        @apply flex px-2 pt-2;

        .tabbed-code-nav-button {
            @apply px-3 pt-2.5 pb-2.5 rounded-t text-sm text-gray-300;

            &[data-tab="Pest"],
            &[data-tab="PHPUnit"] {
                background-size: 1rem;
                background-repeat: no-repeat;
                background-position: 0.75rem center;
            }

            &.active {
                background-color: rgb(38, 42, 54, 1);
            }
        }
    }

    .tabbed-code-body {
        background-color: rgb(38, 42, 54, 1);

        .code-container {
            @apply m-0 rounded-none hidden;

            &.active {
                @apply block;
            }
        }
    }
}
