.docs_sidebar {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            display: block;
            padding: .65em 0;
            white-space: nowrap;

            h2 {
                display: block;
                font-size: 0.875em;
                font-weight: 500;
                color: theme('colors.gray.900');
                text-decoration: none;
                margin-bottom: 0;
                cursor: pointer;
                transition: all 0.3s ease;

                &:hover {
                    transform: translate3d(5px, 0, 0);
                }
            }

            a {
                display: block;
                font-size: .875em;
                font-weight: 500;
                color: theme('colors.gray.900');
                text-decoration: none;
                transition: transform 0.3s ease;

                &:hover {
                    transform: translate3d(5px, 0, 0);
                }
            }
        }

        ul {
            overflow: hidden;
            max-height: 0;
            transition: max-height .45s ease;

            li {
                a {
                    position: relative;
                    padding-left: 1em;
                    font-weight: 400;
                    line-height: 1.25;
                }

                &.active a::before {
                    content: "";
                    position: absolute;
                    top: .25em; left: 0;
                    width: .5rem; height: .5rem;
                    background: url(/img/icons/active_marker.min.svg) no-repeat center;
                }
            }
        }

        .sub--on {
            &> h2 {
                margin-bottom: 1em;
            }

            ul {
                max-height: none;
            }
        }
    }
}
