.uwu-visible {
    display: none;
}

.uwu-visible-block {
    display: none;
}

.uwu-hidden {
    display: inline-flex;
}

.uwu {
    .uwu-visible {
        display: inline-flex;
    }

    .uwu-visible-block {
        display: block;
    }

    .uwu-hidden {
        display: none;
    }
}
