@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import "./_typography.css";
@import "./_code.css";
@import "./_sidebar_layout.css";
@import "./_docs.css";
@import "./_carbon_ads.css";
@import "./_accessibility.css";

@import 'tailwindcss/utilities';

@import "./_dark_mode.css";

[x-cloak] {
    display: none !important;
}

.bg-radial-gradient {
    background-image: radial-gradient(50% 50% at 50% 50%, #EB4432 0%, rgba(255, 255, 255, 0) 100%);
}

.parnters_body a {
    color: theme('colors.red.600');
    text-decoration: underline;
}
