@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import "./_typography.css";
@import "./_code.css";
@import "./_sidebar_layout.css";
@import "./_docs.css";
@import "./_carbon_ads.css";
@import "./_accessibility.css";

@import 'tailwindcss/utilities';

@import "./_dark_mode.css";

[x-cloak] {
    display: none !important;
}

.bg-radial-gradient {
    background-image: radial-gradient(50% 50% at 50% 50%, #EB4432 0%, rgba(255, 255, 255, 0) 100%);
}

.partners_body a {
    color: theme('colors.red.600');
    text-decoration: underline;
}

.version-colors {
    @apply sm:flex dark:text-gray-400 mb-1;
}
.version-colors .color-box {
    @apply w-3 h-3 mr-2 ;
}
.version-colors div.end-of-life {
    @apply flex items-center mr-4;
}
.version-colors div.end-of-life div:first-child {
    @apply bg-red-500;
}
.version-colors div.security-fixes {
    @apply flex items-center;
}
.version-colors div.security-fixes div:first-child {
    @apply bg-orange-600;
}
