@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import "./_typography.css";
@import "./_prism.css";
@import "./_sidebar_layout.css";
@import "./_docs.css";
@import "./_carbon_ads.css";

@import 'tailwindcss/utilities';

[x-cloak] {
    display: none !important;
}
