@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import "./_typography.css";
@import "./_prism.css";
@import "./_sidebar_layout.css";
@import "./_docs.css";
@import "./_carbon_ads.css";
@import "./_accessibility.css";

@import 'tailwindcss/utilities';

@import "./_dark_mode.css";

[x-cloak] {
    display: none !important;
}


.parnters_body a {
    color: theme('colors.red.600');
    text-decoration: underline;
}
